.textarea-block {
  position: relative;
}

.textarea-block + .textarea-block {
  margin-top: 1.4rem;
}

.textarea-block label {
  font-size: 1.4rem;
}

.textarea-block textarea {
  width: 100%;
  height: 16rem;
  min-height: 8rem;
  margin-top: 0.8rem;
  padding: 1.2rem 1.6rem;

  resize: vertical;

  font: 1.6rem Archivo;

  border: solid 1px var(--color-line-in-white);
  border-radius: 0.8rem;

  background-color: var(--color-input-background);

  outline: 0;
}

.textarea-block:focus-within::after {
  content: '';
  width: calc(100% - 3.2rem);
  height: 2px;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 1px;

  background-color: var(--color-secundary);

  position: absolute;
}   