.teacher-item {
    margin-top: 2.4rem;

    border: solid 1px var(--color-line-in-white);
    border-radius: 0.8rem;

    background-color: var(--color-box-base);

    overflow: hidden;
}

.teacher-item header {
    padding: 3.2rem 2rem;

    display: flex;
    align-items: center;
}

.teacher-item header img {
    width: 8rem;
    height: 8rem;

    border-radius: 50%;
}

.teacher-item header div {
    margin-left: 2.4rem;
}

.teacher-item header div strong {
    display: block;

    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
}

.teacher-item header div span {
    margin-top: 0.4rem;

    display: block;

    font-size: 1.6rem;
}

.teacher-item > p {
    padding: 0 2rem;

    line-height: 2.8rem;
    font-size: 1.6rem;
}

.teacher-item footer {
    margin-top: 3.2rem;
    padding: 3.2rem 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: solid 1px var(--color-line-in-white);

    background-color: var(--color-box-footer);
}

.teacher-item footer p strong {
    display: block;

    font-size: 1.6rem;
    color: var(--color-primary);
}

.teacher-item footer button {
    width: 20rem;
    height: 5.6rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border: 0;
    border-radius: 0.8rem;

    font: 700 1.4rem Archivo;
    color: var(--color-button-text);

    background-color: var(--color-secundary);

    cursor: pointer;

    transition: background-color 0.2s;
}

.teacher-item footer button:hover {
    background-color: var(--color-secundary-dark);
}


@media (min-width: 700px) {
   .teacher-item header, .teacher-item footer {
        padding: 3.2rem;
    }

    .teacher-item > p {
        padding: 0 3.2rem;
    }

    .teacher-item footer p strong {
        margin-left: 1.6rem;
        
        display: initial;
    }

    .teacher-item footer button {
        width: 24.5rem;
        
        font-size: 1.6rem;

        justify-content: center;
    }

    .teacher-item footer button img {
        margin-right: 1.6rem;
    }
}
